.chat-side
  .side-header
    %p.side-header__user-name スライム
    %ul.user-menu
      %li.user-menu__new-group
        = link_to "", class: "user-menu__new-group-btn" do
          %i.fa.fa-edit
      %li.user-menu__edit-user
        = link_to "", class: "user-menu__edit-user-btn" do
          %i.fa.fa-cog

  .groups
    = link_to "", class: "groups__select" do
      .group
        %p.group__group-name test-group
        %p.group__latest-message さようなら
